@media screen and (max-width: 1920px){
#up_menu_block
{
 width:99%;
 height:5%;
 margin:0.2%;
 color:white;
 font-size:160%;
}
#target_select_block
{
 font-size:100%;
}
#target_select_block select
{
 font-size:100%;
}
#logo_block
{
 position:absolute;
 left:1%;
 border: 2px solid red;
 padding:0.4%;
 display:inline-block;
 color:white;
 text-align:center;
 word-wrap: break-word;
 width:16%;
 height:12%;
}
#logo_block:hover
{
 background: rgb(120,120,220);
}
#logo_block h1
{
 margin:0.3;
 padding:0;
}
#service_logo_text
{
 font-size:280%;
 word-wrap: break-word;
}
#service_description_text
{
 position:absolute;
 top:70%;
 left:5%;
 font-size:250%;
 color:rgb(255,255,200);
 width: 88%;
 overflow: hidden;
 text-overflow: ellipsis;
}
#search_block
{
 position:absolute;
 left:18%;
 border: 2px solid grey;
 width:61.5%;
 height:12%;
 border-radius: 10px;
 background: rgb(100,200,100);
 padding:0.5%;
 border:1px solid rgb(100,100,200);
 display:inline-block;
}
#cat_select
{
 font-size:200%;
}
#search_string
{
 border-radius: 10px;
 left:3%;
 padding:0.3%;
 font-size:100%;
}
#cat_select
{
 margin:0.5%;
 font-size:130%;
}
#advert_block
{
 position:absolute;
 border: 2px solid white;
 width: 18%;
 height:14%;
 right: 0.5%;
 text-align: center;
 border-radius: 10px;
 background: rgb(200,100,100);
 color:white;
 margin: 2px;
 cursor:pointer;
 display: inline-block;
 overflow: hidden;
 text-overflow: ellipsis; 
 font-size:150%;
}
#advert_block:hover
{
 background: rgb(220,120,120);
 color:white;
}
footer
{
 font-size:150%;
}
.close_window
{
 position: absolute;
 color: white;
 top: 2%;
 right: 2%;
 cursor: pointer;
 margin: 0.5%;
 padding: 1%;
 border-radius: 5px;
 font-size:140%;
}
#adverts_filter
{
 width:75%;
 font-size:100%;
}
#my_adverts_table td, th
{
 font-size:150%;
}
#new_adv
{
 font-size:140%;
}
#new_adv select
{
 font-size:100%;
}
.item
{
 width: 95%;
 height: 23%;
 margin: 1px;
 padding: 1px;
 background:rgb(150,150,150);
 border-radius: 10px;
 color: white;
 text-align: left;
 word-wrap: break-word;
 display: inline-block;
 font-size:140%;
}
#full_adv_info_window
{
 font-size:140%;
}
#auth_window,#reg_window,#restore_window
{
 font-size:140%;
}
#vip_title
{
 font-size:150%;
}
#vip_advert
{
 font-size:150%;
}
#google_adscence
{
 display:none;
}
}